{% extends "tapasapp/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <h2>Change password</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="current_password">Current password</label>
            <input type="password" class="form-control" id="current_password" name="current_password" required>

            <label for="new_password1">New password</label>
            <input type="password" class="form-control" id="new_password1" name="new_password1" required>

            <label for="new_password2" class="mt-2">Confirm new password</label>
            <input type="password" class="form-control" id="new_password2" name="new_password2" required>
        </div>

        {% if message %}
            <div class="alert alert-info mt-3">
                {{ message }}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-primary mt-3">Confirm</button>
        <a class="btn btn-secondary mt-3" href="{% url 'manage_account' pk=acc.pk %}">Cancel</a>
    </form>
</div>
{% endblock %}
